/** fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
       
/** reset */
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** variables */
:root {
    --primary-color: rgb(115, 80, 255);
    --secondary-color: rgb(6, 2, 19);
}

/** custom defaults **/
::-moz-selection { /* Code for Firefox */
    color: var(--secondary-color);
    background: var(--primary-color);
}

::selection {
    color: var(--secondary-color);
    background: var(--primary-color);
}

/** body */
body {
    display: flex;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
}
aside {
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
h1 {
    font-size: 1.6rem;
    line-height: 1.4em;
    font-weight: 700;
    animation: rainbow 10s ease-in-out infinite;
    color: var(--primary-color);
}
h2 {
    font-size: 1.2rem;
    line-height: 1.4em;
    font-weight: 700;
}
h3 {
    font-size: 1rem;
    line-height: 1.4em;
    font-weight: 500;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
small {
    opacity: 0.6;
    font-weight: 600;
}
span.blur {
    filter: blur(0.5rem);
    -webkit-filter: blur(0.5rem);
}

@keyframes rainbow {
    0% { color: rgb(255, 80, 80); }
    16.67% { color: rgb(255, 179, 80); }
    33.33% { color: rgb(217, 255, 80); }
    50% { color: rgb(80, 255, 118); }
    66.67% { color: rgb(80, 127, 255); }
    83.33% { color: var(--primary-color); }
    100% { color: rgb(249, 80, 255); }
}